<%- include('templates/header.ejs', {titleHead: 'Error 404'}) %>

    <h1 class="text-center my-4"><%= title %></h1>
    <h2 class="text-center"><%= description %></h2>
<%- include('templates/footer.ejs') %>