{{> header title='Servicios'}}
    <h1>{{title}}</h1>
    {{#if state}}
        <p>{{ service }}</p>
        {{else}}
        <p>No hay servicios disponibles por el momento</p>
    {{/if}}


{{> footer }}
